<!DOCTYPE html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Persona Interviewer</title>
<link rel="stylesheet" href="/static/main.css" />
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="intro">
        <div class="container"></div>
        <div>
          <h1 style="color:#555555;"> AI Participant Simulator</h1>
        </div>
        <div class="intro_low">
            <div>
              <p class="big" style="color:#555555; font-size: 14; margin-left: 1em; margin-right: 1em; margin-bottom: 2.5em;"> To use the AI participant simulator, you first need to input your OpenAI API key. If you're not sure how get your key click <a href="https://help.openai.com/en/articles/4936850-where-do-i-find-my-secret-api-key" target="_blank">here</a>. Then, think about the purpose or function of the AI persona. Who is it that you would like to interview? This will help determine the personality and characteristics of the persona. Then write a description of the persona. Think about age, gender, occupation, ancestry, personality traits, and interests. Write a short description using clear and concise language and avoid technical jargon or complex sentences. Keep the  tone and voice consistent throughout the description. Finally, review and revise the description to ensure that it accurately reflects the AI persona you have created. Once you are satisfied, click on GO! </p>
            </div>
        <form action="/" method="POST">
          <!-- This form wraps the Persona. The input is wrapped with a label for
                 to provide more information. The inputs are POSTed to the /
                 endpoint, which represents the home page. The index()
                 API function will handle these input as a global variable.
                 The form also wraps the Go! button, which just triggers the
                 POST. -->
          <label title="OpenAI API Key" style="color:#555555;"> OpenAI Key:
            <input type="password" name="key" placeholder="Your key" size ="50" required autocomplete="off"/>
          </label>
          <p></p>
          <label title="A persona for the GPT-3 Chatbot" style="color:#555555;"> AI Persona:
            <input type="text" name="persona" size="100%" placeholder="Give the AI a persona" required autocomplete="off" />
          </label>
        
          <!-- The go button! -->
          <label style="margin-top: 1.5em" title="Submit button" class="go-button">
            <input type="submit" value="Go!" class="go-button" />
          </label>
        </form>
</div>
	</div>
<footer>
  <div class="footer-content">
    <!--add all information -->
    <p> March 1, 2023 version. All content is licensed under the <a href="https://creativecommons.org/licenses/by-nc/4.0/"> Creative Commons Attribution 4.0 International License (CC BY-NC 4.0)</a> unless noted otherwise. </p>
    <a href="https://creativecommons.org/licenses/by-nc/4.0/"><img src="https://i.creativecommons.org/l/by-nc/3.0/88x31.png" alt="Creative Commons: Attribution, Non-Commercial"></a>
</div>
</footer>
</body>